@import '../../scss/variables.scss';
@import '../../scss/globals.scss';

.items {
  background: url('./lang.png') no-repeat right bottom, #1c528a;
  background-size: 30%, cover;
  padding: 2em;
  color: $white;

  h2 {
    font-weight: 800;
    font-size: 1.2rem;
  }

  li {
    list-style-type: disc;
  }
}
