@import '../../scss/variables.scss';
@import '../../scss/globals.scss';

.project {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
}

.footer {
  background-color: $purple;
  color: $white;
  padding: 1em;

  h3 {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
}

.tags {
  display: flex;
  gap: 0.5em;
  padding: 1em 0;

  li {
    background-color: $light-blue;
    color: $purple;
    font-size: $tag;
    padding: 0.5em;
  }
}

.button {
  @include alignBtn;

  color: $white;
  font-size: $md;
  border: 1px solid white;
  background-color: transparent;
  padding: 0.5em 1em;

  &:hover {
    background-color: $white;
    color: $purple;
  }
}

.image {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 0;
    margin: 0;
  }
}

.project-section {
  width: 100%;
  max-width: 1500px;
  height: 100%;
}

@media (min-width: $md-screen) {
  .image {
    height: 30%;

    img {
      object-fit: cover;
    }
  }

  .project {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 700px;
  }

  .footer {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;

    h3 {
      font-weight: 800;
    }
  }
}
