@import '../../../scss/variables.scss';
@import '../../../scss/globals.scss';

.card {
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 0;
}

.about-item {
  padding: 2em;
  color: $white;

  h2 {
    font-weight: 800;
    font-size: 1.2rem;
  }

  li {
    list-style-type: disc;
  }
}
