@import '../../scss/variables.scss';
@import '../../scss/globals.scss';

.hero {
  color: $purple;
  display: flex;
  font-weight: 400;
  flex-direction: column;
  background: url('./hero.png') no-repeat;
  width: 100%;
}

.menu {
  font-size: $lg;
  display: flex;
  justify-content: flex-end;
}

.divider {
  background: url('./divider.png') no-repeat;
  background-size: 100%;
  width: 100%;
  display: flex;
  height: 220px;
  object-fit: cover;
}
