@import '../../scss/variables.scss';

.projects-section {
  display: flex;
  flex-direction: column;
}
.center-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  max-width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.projectimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 800px;
  object-fit: contain;
  margin: auto auto;
}

@media (min-width: $md-screen) {
  .center-project {
    width: 80%;
    max-width: 1200px;
  }

  .projects {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }

  .projects-section {
    text-align: center;
  }
}
