@import '../../scss/variables.scss';

.projects-section {
  display: flex;
  flex-direction: column;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

@media (min-width:$md-screen) {
  .projects {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }
}