@import '../../scss/variables.scss';
@import '../../scss/globals.scss';

.footer {
  background-color: $purple;
  padding: 1.5rem 2rem;
}

.button {
  @include alignBtn;

  color: $light-blue;
  margin: 0.5em 0;
  font-size: $md;
  border: none;
  background-color: transparent;
  padding: 0.5em 1em;
}

.links {
  display: flex;
  color: $white;
  margin-bottom: 1em;
}

.links > * {
  flex: 1;
  font-size: $lg;
}

@media (min-width: $md-screen) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
  }
  .links {
    display: inline;
    margin: auto 0;
  }

  .links > * {
    margin: 0 0.2em;
  }
}
