$purple: #1a2236;
$purple-light: #d278e9;
$white: #e5e5e5;
$light-blue: #98dede;
$xl: 3.3rem;
$lg: 2rem;
$md: 1.2rem;
$sm: 1.1rem;
$tag: 0.8rem;
$md-screen: 800px;
$contact-width: 800px;
$max-width: 1000px;
