@import '../../scss/variables.scss';

.hero {
  height: 80vh;
  color: $purple;
  display: flex;
  font-weight: 400;
  flex-direction: column;
  background: url('./hero.png') no-repeat;
  width: 100%;
  padding: 1em;
}

.menu {
  font-size: $lg;
  display: flex;
  justify-content: flex-end;
}

.heading {
  font-size: $xl;
  margin: 0.5em 0;
}

.text {
  padding: 1em 0;
  font-size: $sm;
  line-height: 1.5em;
  width: 70%;
}

.dialog {
  width: 100%;
}

.dialog::backdrop {
  padding: 0;
  margin: 0;
}
