@use '../../scss/variables.scss' as *;

@media (min-width: $md-screen) {
  .about {
    max-width: $max-width;
    display: flex;
    flex-direction: row-reverse;
    & > * {
      flex: 1;
    }
  }
}
