@use '../../scss/variables.scss' as *;

@media (min-width: $md-screen) {
  .section {
    margin: 5rem 0;
  }

  .about {
    max-width: $max-width;
    gap: 3em;
    display: flex;
    flex-direction: row-reverse;

    & > * {
      flex: 1;
    }
  }
}
